@import '../App.css';

.Search {
  text-align: center;
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 100px;
}

.Search .form-group {
  margin: 0;
}

.Search label {
  font-size: 3em;
  font-family: var(--cursive);
}

.Search input {
  width: 75%;
  margin: 0 auto;
}

.Search .find-btn {
  margin: 20px 0;
  color: var(--rosybrown);
  border: 1px solid var(--rosybrown);
  background-color: var(--white);
}

.Search .find-btn:hover {
  color: var(--white);
  border: 1px solid var(--rosybrown);
  background-color: var(--rosybrown);
}

.Search .AllReservations {
  min-height: 600px;
}

.Search .form-group::after {
  content: '';
  background-color: transparent;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

/* media queries >= 992px */
@media (min-width: 992px) {
  .Search label {
    font-size: 4em;
  }

  .Search .find-btn {
    color: var(--white);
    border: 1px solid var(--deer-brown);
    background-color: var(--deer-brown);
  }

  .Search .find-btn:hover {
    color: var(--deer-brown);
    border: 1px solid var(--deer-brown);
    background-color: var(--white);
  }

  .Search .AllReservations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }

  .Search .AllReservations::after {
    content: '';
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
