@import '../App.css';

.Footer {
  color: var(--darker-red);
  padding: 20px 0;
}

.Footer p {
  margin: 0;
  font-size: 1.3em;
}

/* media queries >= 992px */
@media (min-width: 992px) {
  .Footer p {
    font-size: 1.5em;
  }
}
