@import '../App.css';

.Menu {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
}

.transparent {
  background-color: transparent;
}

.dark-bg {
  background-color: var(--dark-bg);
}

.Menu .plus-sign,
.Menu .minus-sign {
  padding: 5px 0 10px 5px;
  cursor: pointer;
}

.Menu .plus-sign:hover,
.Menu .minus-sign:hover {
  color: var(--pink);
}

.Menu ul {
  background-color: var(--dark-bg);
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Menu li {
  list-style: none;
  padding: 10px;
}

.Menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu .oi {
  color: var(--darker-red);
}

.Menu p {
  margin: 0;
  color: var(--darker-red);
}

.Menu p:hover {
  color: var(--pink);
}

/* media queries >= 992px */
@media (min-width: 992px) {
  .Menu {
    max-width: 1100px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .Menu .periodic-tables {
    font-size: 30px;
  }

  .Menu .plus-sign,
  .Menu .minus-sign {
    padding: 10px 0 0 10px;
  }

  .Menu .oi,
  .Menu p {
    font-size: 25px;
  }
}
