@import '../App.css';
/* media queries >= 992px */
@media (min-width: 992px) {
  .EditReservation h2 {
    padding: 50px 0;
  }

  .EditReservation .card {
    position: relative;
    padding: 50px 0;
  }

  .EditReservation .card::after {
    content: '';
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
