@import '../App.css';

.ReservationSeat {
  text-align: center;
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 100px;
}

.ReservationSeat .form-group {
  margin: 0;
}

.ReservationSeat label {
  font-size: 3em;
  font-family: var(--cursive);
}

.ReservationSeat .form-control {
  border-radius: 4px;
  border: 0;
  font-size: 1.5em;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--form-shadow);
}

.ReservationSeat .buttons {
  margin: 40px 0;
}

.ReservationSeat .btn {
  box-shadow: var(--button-shadow);
}

.ReservationSeat .submit-btn {
  margin-right: 10px;
  color: var(--rosybrown);
  border: 1px solid var(--rosybrown);
  background-color: var(--white);
}

.ReservationSeat .submit-btn:hover {
  color: var(--white);
  border: 1px solid var(--rosybrown);
  background-color: var(--rosybrown);
}

.ReservationSeat .cancel-btn {
  margin-left: 10px;
  color: var(--red);
  border: 1px solid var(--red);
  background-color: var(--white);
}

.ReservationSeat .cancel-btn:hover {
  color: var(--white);
  border: 1px solid var(--red);
  background-color: var(--red);
}

.ReservationSeat form {
  min-height: 600px;
}

/* media queries >= 768px */
@media (min-width: 768px) {
  .ReservationSeat .form-control {
    width: 500px;
    margin: 20px auto 0 auto;
  }

  .ReservationSeat .btn {
    font-size: 20px;
  }
}

/* media queries >= 992px */
@media (min-width: 992px) {
  .ReservationSeat label {
    font-size: 4em;
  }
  .ReservationSeat .submit-btn {
    color: var(--white);
    border: 1px solid var(--deer-brown);
    background-color: var(--deer-brown);
  }

  .ReservationSeat .submit-btn:hover {
    color: var(--deer-brown);
    border: 1px solid var(--deer-brown);
    background-color: var(--white);
  }

  .ReservationSeat .cancel-btn {
    color: var(--white);
    border: 1p solid var(--red);
    background-color: var(--red);
  }

  .ReservationSeat .cancel-btn:hover {
    color: var(--red);
    border: 1px solid var(--red);
    background-color: var(--white);
  }
}
